# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Environment Variables
.env

# Logs
*.log

# OS Files
.DS_Store

# Backups
backup/

node_modules/


# Database (if local)
*.db

# Redis dump (if exists)
dump.rdb
